GRAPHQL_CMS_ENDPOINT=
GRAPHQL_CMS_TOKEN=
GRAPHQL_CMS_ASSET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

JWT_SECRET=
NOTION_SECRET=secret_dnsC5D4ql5VMRGlPghMx0Ju7qRwXBTWB84zo7WEU4oz
NOTION_DATABASE=0f8d661ce22e4d6cafeb974f048c0f91

MEASUREMENT_ID=