@import "./themes.css";

@import "tailwindcss";
@plugin 'tailwindcss-animated';
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --color-gray-color: #627480;
  --color-gray-color-100: #2d3748;

  --color-dark: #323337;
  --color-dark-100: #24283b;
  --color-dark-200: #141922;
  --color-dark-300: #050816;
  --color-dark-400: #0f2243;
  --color-dark-500: #0a0f2f;

  --shadow-light-shadow: -2px 2px 20px 10px #00000024;
  --shadow-dark-shadow: -2px 5px 10px rgba(255, 255, 255, 0.1);
  --shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --shadow-card: 0px 35px 120px -15px #211e35;
  --shadow-dark_stack: -1rem 0 1rem #131313;
  --shadow-light_stack: -1rem 0 1rem #6e6e6e;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --animate-meteor-effect: meteor 5s linear infinite;

  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}

:root {
  --radius: 0.75rem;
  --background: hsl(221 53% 95%);
  --foreground: hsl(221 5% 10%);
  --card: hsl(221 50% 90%);
  --card-foreground: hsl(221 5% 15%);
  --popover: hsl(221 53% 95%);
  --popover-foreground: hsl(221 95% 10%);
  --primary: hsl(221 98% 60%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(221 30% 70%);
  --secondary-foreground: hsl(0 0% 0%);
  --muted: hsl(183 30% 85%);
  --muted-foreground: hsl(221 5% 35%);
  --accent: hsl(183 30% 80%);
  --accent-foreground: hsl(221 5% 15%);
  --destructive: hsl(0 53% 30%);
  --destructive-foreground: hsl(221 5% 90%);
  --border: hsl(221 30% 50%);
  --input: hsl(221 30% 22%);
  --ring: hsl(221 98% 60%);
  --chart-1: hsl(221 98% 60%);
  --chart-2: hsl(221 30% 70%);
  --chart-3: hsl(183 30% 85%);
  --chart-4: hsl(183 30% 80%);
  --chart-5: hsl(0 53% 30%);
  --sidebar: hsl(221 53% 95%);
  --sidebar-foreground: hsl(221 5% 10%);
  --sidebar-primary: hsl(221 98% 60%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(221 30% 70%);
  --sidebar-accent-foreground: hsl(221 5% 15%);
  --sidebar-border: hsl(221 30% 50%);
  --sidebar-ring: hsl(221 98% 60%);
}

.dark {
  --background: hsl(221 50% 10%);
  --foreground: hsl(221 5% 90%);
  --card: hsl(221 50% 10%);
  --card-foreground: hsl(221 5% 90%);
  --popover: hsl(221 50% 5%);
  --popover-foreground: hsl(221 5% 90%);
  --primary: hsl(221 98% 60%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(221 30% 20%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(183 30% 22%);
  --muted-foreground: hsl(221 5% 60%);
  --accent: hsl(183 30% 22%);
  --accent-foreground: hsl(221 5% 90%);
  --destructive: hsl(0 53% 30%);
  --destructive-foreground: hsl(221 5% 90%);
  --border: hsl(221 30% 22%);
  --input: hsl(221 30% 22%);
  --ring: hsl(221 98% 60%);
  --chart-1: hsl(221 98% 60%);
  --chart-2: hsl(221 30% 20%);
  --chart-3: hsl(183 30% 22%);
  --chart-4: hsl(183 30% 22%);
  --chart-5: hsl(0 53% 30%);
  --sidebar: hsl(221 50% 10%);
  --sidebar-foreground: hsl(221 5% 90%);
  --sidebar-primary: hsl(221 98% 60%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(221 30% 20%);
  --sidebar-accent-foreground: hsl(221 5% 90%);
  --sidebar-border: hsl(221 30% 22%);
  --sidebar-ring: hsl(221 98% 60%);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground overscroll-none;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #64ffda;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
}

#blog_content h2,
#blog_content h3 {
  color: "#64ffda" !important;
  margin: 16px 0 32px 0;
  font-size: 24px;
  font-weight: 700;
}

#blog_content ul {
  list-style-type: disc !important;
  margin: 0 16px;
}

#blog_content a {
  color: #64ffda;
  text-decoration: underline;
}

#sky {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#shootingstars {
  width: 150vh;
  height: 100vw;
  position: fixed;
  overflow: hidden;
  z-index: -50;
  transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%))
    rotate(120deg);
}

.wish {
  height: 2px;
  top: 300px;
  width: 100px;
  margin: 0;
  opacity: 0;
  padding: 0;
  background-color: white;
  position: absolute;
  background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px white);
  overflow: hidden;
}

/* Stack session */

#card:hover ~ #card {
  transform: translateX(130px);
}

#card:hover #card-header_title {
  background: #11998e;
  background: -webkit-linear-gradient(to left, #11998e, #38ef7d);
  background: linear-gradient(to left, #11998e, #38ef7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#tags a:hover {
  background: linear-gradient(90deg, #39caee, #6e2bff);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  border-color: white;
}
